<footer class="text-white pt-5 pb-4" style="background-color: var(--bs-primary);">
  <div class="container text-center text-md-start">
    <div class="row text-center text-md-start">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold" style="color: var(--bs-warning);">Escuela de Artes y Cultura</h5>
        <p>
          Formando a los futuros artistas y líderes culturales de Osorno y la región.
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold" style="color: var(--bs-warning);">Redes Sociales</h5>
        <p>
          <a href="https://www.instagram.com/escueladeartesycultura/" class="text-white" style="text-decoration: none;" target="_blank">
            <i class="bi bi-instagram"></i> Instagram
          </a>
        </p>
        <p>
          <a href="https://www.facebook.com/eacoosorno/" class="text-white" style="text-decoration: none;" target="_blank">
            <i class="bi bi-facebook"></i> Facebook
          </a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold" style="color: var(--bs-warning);">Contacto</h5>
        <p><i class="bi bi-geo-alt-fill me-3"></i>Avenida Zenteno 2471, Osorno</p>
        <p><i class="bi bi-telephone-fill me-3"></i>+56 64 234 5678 9</p>
        <p><i class="bi bi-envelope-fill me-3"></i>escuelaartesycultura@daem.imo.cl</p>
      </div>
    </div>

    <hr class="mb-4">

    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p> © 2025 Escuela de Artes y Cultura. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-end">
            <p>Sitio desarrollado por: <a href="https://www.ingeniumbright.com" style="text-decoration: none;" target="_blank">Francisco Colomer Bonometti</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>