<!-- <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: var(--bs-primary);">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <img src="../assets/images/Logo.png" alt="Logo Escuela de Artes y Cultura" width="75" height="75">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav"> -->
      <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: var(--bs-primary);">
        <div class="container-fluid">
          <a class="navbar-brand d-flex align-items-center" href="index.html">
            <img src="assets/images/Logo.png" alt="Logo Escuela de Artes y Cultura" width="85" height="85"> <!-- Tamaño aumentado -->
            <div class="ms-3 d-none d-sm-block">
              <span class="school-name">Escuela de Artes y Cultura</span>
              <div class="school-subtitle">Osorno, Chile</div>
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Quiénes Somos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="profesores-jefes.html">Profesores Jefes</a>
            <a class="dropdown-item" href="profesores-asignaturas.html">Profesores de Asignaturas</a>
            <a class="dropdown-item" href="director.html">Director</a>
            <a class="dropdown-item" href="utp.html">UTP</a>
            <a class="dropdown-item" href="programa-pie.html">Programa PIE</a>
            <a class="dropdown-item" href="convivencia-escolar-inspectoria.html">Convivencia Escolar e Inspectoría</a>
            <a class="dropdown-item" href="mision-vision.html">Historia - Misión - Visión</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="horarios.html">Horarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="documentacion.html">Documentación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="enlaces-interes.html">Enlaces de Interés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lirmi.html">Lirmi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#contactModal">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal de Contacto -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Contacto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="contact-info">
          <div class="text-center">
            <p><i class="bi bi-geo-alt-fill me-2"></i><strong>Dirección:</strong> Avenida Zenteno 2471, Osorno</p>
            <p><i class="bi bi-telephone-fill me-2"></i><strong>Teléfono:</strong> (64) 223 3179</p>
            <p><i class="bi bi-envelope-fill me-2"></i><strong>Email:</strong> escuelaartesycultura@daem.imo.cl</p>
          </div>
        </div>
        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.21482110148!2d-73.1333536845939!3d-40.5752999793468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x961615565775d07b%3A0x8d4a11d3b4f1d1d!2sAvenida%20Zenteno%202471%2C%20Osorno%2C%20Los%20Lagos!5e0!3m2!1ses-419!2scl!4v1678886615561!5m2!1ses-419!2scl" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>